{% extends 'base.html' %}
{% block title %}
질문 글 등록
{% endblock %}
{% block content %}
	<!-- action 속성에 아무 값도 입력 안 할 경우 : 현재 페이지로 재 요청 
	127.0.0.1:8000/vote/questionRegister URL로 현재페이지를 받은 경우 
	form 제출 시 127.0.0.1:8000/vote/questionRegister 주소로 데이터 전송  , 하나의 view 에서 get,post 방식 다 처리할 거기 떄문에
	method 는 post 로 지정해줘야함 -->
	<form action="" method="POST">
		{% csrf_token %}
		<table>
			{{ form.as_table }} {# html 문서에서 함수는 () 빼고 써줌#}
		</table>
		<input type="submit" value="질문글 쓰기">
	</form>
{% endblock %}